Repository rodaquino-OMNI/onboarding-portal-v3-hrqnmc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @security-team, @backend-team, @compliance-team, @health-domain-experts, @business-analysts, @frontend-team, @accessibility-team, @database-team, @qa-team, @legal-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request.
*       @project-leads

# GitHub configurations and workflows
.github/**      @devops-team @security-team

# Authentication service - requires security, backend, and compliance review
src/backend/auth-service/**       @security-team @backend-team @compliance-team

# Health assessment service - requires domain expert, backend, and compliance review
src/backend/health-service/**     @backend-team @health-domain-experts @compliance-team

# Document handling service - requires security, backend, and compliance review
src/backend/document-service/**   @backend-team @security-team @compliance-team

# Enrollment service - requires business logic, backend, and compliance review
src/backend/enrollment-service/** @backend-team @business-analysts @compliance-team

# Policy service - requires business logic, backend, and compliance review
src/backend/policy-service/**     @backend-team @business-analysts @compliance-team

# Frontend applications - requires accessibility, security, and frontend review
src/web/**      @frontend-team @accessibility-team @security-team

# Infrastructure configurations
infrastructure/**       @devops-team @security-team @compliance-team

# Database migrations and schemas
src/backend/db/migrations/**      @database-team @security-team @compliance-team

# Security-related files
**/security*       @security-team @compliance-team

# Container configurations
**/Dockerfile      @devops-team @security-team

# Test files
**/*.test.*        @qa-team @security-team

# LGPD (Brazilian Data Protection Law) related files
**/lgpd*          @compliance-team @security-team @legal-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/package.json
  src/backend/package.json
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/api-gateway/src/index.ts
  src/backend/api-gateway/src/index.ts
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/api-gateway/src/config/kong.config.ts
  src/backend/api-gateway/src/config/kong.config.ts
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/api-gateway/src/middleware/cors.ts
  src/backend/api-gateway/src/middleware/cors.ts
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/api-gateway/src/middleware/rate-limiter.ts
  src/backend/api-gateway/src/middleware/rate-limiter.ts
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/api-gateway/src/middleware/security.ts
  src/backend/api-gateway/src/middleware/security.ts
Owners: @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/api-gateway/test/integration/gateway.test.ts
  src/backend/api-gateway/test/integration/gateway.test.ts
Owners: @qa-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @security-team, @backend-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @security-team, @backend-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/src/index.ts
  src/backend/auth-service/src/index.ts
Owners: @security-team, @backend-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/src/config/auth.config.ts
  src/backend/auth-service/src/config/auth.config.ts
Owners: @security-team, @backend-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/src/controllers/auth.controller.ts
  src/backend/auth-service/src/controllers/auth.controller.ts
Owners: @security-team, @backend-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/src/middleware/jwt.middleware.ts
  src/backend/auth-service/src/middleware/jwt.middleware.ts
Owners: @security-team, @backend-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/src/models/user.model.ts
  src/backend/auth-service/src/models/user.model.ts
Owners: @security-team, @backend-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @security-team, @backend-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/src/services/mfa.service.ts
  src/backend/auth-service/src/services/mfa.service.ts
Owners: @security-team, @backend-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/src/utils/encryption.ts
  src/backend/auth-service/src/utils/encryption.ts
Owners: @security-team, @backend-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/src/validators/auth.validator.ts
  src/backend/auth-service/src/validators/auth.validator.ts
Owners: @security-team, @backend-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/test/integration/auth.test.ts
  src/backend/auth-service/test/integration/auth.test.ts
Owners: @qa-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/auth-service/test/unit/auth.test.ts
  src/backend/auth-service/test/unit/auth.test.ts
Owners: @qa-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/db/migrations/V1__initial_schema.sql
  src/backend/db/migrations/V1__initial_schema.sql
Owners: @database-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/db/migrations/V2__auth_tables.sql
  src/backend/db/migrations/V2__auth_tables.sql
Owners: @database-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/db/migrations/V3__enrollment_tables.sql
  src/backend/db/migrations/V3__enrollment_tables.sql
Owners: @database-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/db/migrations/V4__policy_tables.sql
  src/backend/db/migrations/V4__policy_tables.sql
Owners: @database-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/document-service/Dockerfile
  src/backend/document-service/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/document-service/go.mod
  src/backend/document-service/go.mod
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/document-service/go.sum
  src/backend/document-service/go.sum
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/document-service/cmd/server/main.go
  src/backend/document-service/cmd/server/main.go
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/document-service/internal/config/config.go
  src/backend/document-service/internal/config/config.go
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/document-service/internal/handlers/document.go
  src/backend/document-service/internal/handlers/document.go
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/document-service/internal/models/document.go
  src/backend/document-service/internal/models/document.go
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/document-service/internal/services/ocr.go
  src/backend/document-service/internal/services/ocr.go
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/document-service/internal/services/storage.go
  src/backend/document-service/internal/services/storage.go
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/document-service/internal/utils/encryption.go
  src/backend/document-service/internal/utils/encryption.go
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/document-service/test/document_test.go
  src/backend/document-service/test/document_test.go
Owners: @backend-team, @security-team, @compliance-team
