Repository rodaquino-OMNI/onboarding-portal-v3-hrqnmc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @security-team, @backend-team, @compliance-team, @health-domain-experts, @business-analysts, @frontend-team, @accessibility-team, @database-team, @qa-team, @legal-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request.
*       @project-leads

# GitHub configurations and workflows
.github/**      @devops-team @security-team

# Authentication service - requires security, backend, and compliance review
src/backend/auth-service/**       @security-team @backend-team @compliance-team

# Health assessment service - requires domain expert, backend, and compliance review
src/backend/health-service/**     @backend-team @health-domain-experts @compliance-team

# Document handling service - requires security, backend, and compliance review
src/backend/document-service/**   @backend-team @security-team @compliance-team

# Enrollment service - requires business logic, backend, and compliance review
src/backend/enrollment-service/** @backend-team @business-analysts @compliance-team

# Policy service - requires business logic, backend, and compliance review
src/backend/policy-service/**     @backend-team @business-analysts @compliance-team

# Frontend applications - requires accessibility, security, and frontend review
src/web/**      @frontend-team @accessibility-team @security-team

# Infrastructure configurations
infrastructure/**       @devops-team @security-team @compliance-team

# Database migrations and schemas
src/backend/db/migrations/**      @database-team @security-team @compliance-team

# Security-related files
**/security*       @security-team @compliance-team

# Container configurations
**/Dockerfile      @devops-team @security-team

# Test files
**/*.test.*        @qa-team @security-team

# LGPD (Brazilian Data Protection Law) related files
**/lgpd*          @compliance-team @security-team @legal-team

Add Sprint 3 completion report with comprehensive metrics
  SPRINT_3_COMPLETION.md
Owners: @project-leads

docs: Add hive-mind analysis documentation and update .gitignore
  .gitignore
  docs/hive-mind/conflict-resolution-strategy.md
  docs/hive-mind/github-comparison-analysis.md
  docs/hive-mind/pre-sync-validation.md
Owners: @project-leads

Production readiness improvements: Multi-agent mission results
  TESTING_SUMMARY.md
Owners: @project-leads

Add comprehensive PR description document
  PULL_REQUEST_BODY.md
Owners: @project-leads

Add forensics verification report - independent validation of all agent claims
  FORENSICS_VERIFICATION_REPORT.md
Owners: @project-leads

docs: Add comprehensive AI swarm coordination prompt with evidence-based status comparison
  AI_SWARM_MISSION_PROMPT.md
  MISSION_STATUS_COMPARISON.md
Owners: @project-leads

chore: Update TypeScript build info files after verification testing
  src/backend/api-gateway/tsconfig.tsbuildinfo
  src/backend/auth-service/tsconfig.tsbuildinfo
  src/web/tsconfig.tsbuildinfo
Owners: @project-leads, @security-team, @backend-team, @compliance-team, @frontend-team, @accessibility-team

security: Fix CRITICAL hardcoded password vulnerability in health-service
  src/backend/health-service/.env.example
  src/backend/health-service/src/config/settings.py
Owners: @backend-team, @health-domain-experts, @compliance-team

fix(auth-service): Resolve 24 TypeScript compilation errors
  src/backend/auth-service/package.json
  src/backend/auth-service/src/models/user.model.ts
  src/backend/auth-service/src/utils/encryption.ts
  src/backend/auth-service/src/validators/auth.validator.ts
Owners: @security-team, @backend-team, @compliance-team

security: Move all sensitive configs to environment variables
  src/backend/health-service/src/config/settings.py
Owners: @backend-team, @health-domain-experts, @compliance-team

security: Upgrade vite to resolve frontend dependency vulnerabilities
  src/web/package-lock.json
  src/web/package.json
Owners: @frontend-team, @accessibility-team, @security-team

fix(api-gateway): Resolve 24 TypeScript compilation errors
  src/backend/api-gateway/package.json
  src/backend/api-gateway/src/config/kong.config.ts
  src/backend/api-gateway/src/index.ts
  src/backend/api-gateway/src/middleware/cors.ts
  src/backend/api-gateway/src/middleware/rate-limiter.ts
  src/backend/api-gateway/src/middleware/security.ts
  src/backend/api-gateway/tsconfig.tsbuildinfo
  src/backend/tsconfig.json
Owners: @project-leads, @security-team, @compliance-team

feat(frontend): Fix 1055 TypeScript errors in web application
  src/web/src/components/auth/__tests__/LoginForm.test.tsx
  src/web/src/components/common/Card.tsx
  src/web/src/components/common/__tests__/Form.test.tsx
  src/web/src/components/payment/PaymentForm.tsx
  src/web/src/components/policy/PolicyDetails.tsx
  src/web/src/components/policy/PolicyList.tsx
  src/web/src/contexts/AuthContext.tsx
  src/web/src/contexts/NotificationContext.tsx
Owners: @qa-team, @security-team, @frontend-team, @accessibility-team

chore: Reorganize documentation and enhance .gitignore patterns
  .gitignore
  BACKEND_COMPILATION_REPORT.md
  DEPLOYMENT_READINESS_REPORT.md
  SPRINT_3_COMPLETION.md
  SPRINT_3_VERIFICATION_REPORT.md
  SPRINT_COMPLETION_REPORT.md
  backend_build_verification.txt
  build_output.txt
  build_verification.txt
  docs/CONFLICT_ANALYSIS_REPORT.md
  documentation/DATABASE_SETUP_GUIDE.md
  src/web/tsconfig.tsbuildinfo
Owners: @project-leads, @frontend-team, @accessibility-team, @security-team

fix(frontend): Fix core interface/type definitions (241 → 231 errors)
  src/backend/package-lock.json
  src/web/src/contexts/AuthContext.tsx
  src/web/src/hooks/useAuditLog.ts
  src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useDocuments.ts
  src/web/src/hooks/useRoleBasedAccess.ts
  src/web/src/types/enrollment.types.ts
  src/web/tsconfig.tsbuildinfo
Owners: @project-leads, @frontend-team, @accessibility-team, @security-team

fix(frontend): Fix services, hooks, and module imports (75 → ? errors)
  src/web/src/hooks/useDocuments.ts
  src/web/src/hooks/useEnrollment.ts
  src/web/src/hooks/usePerformanceMonitor.ts
  src/web/src/layouts/AuthLayout.tsx
  src/web/src/services/document.service.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Fix auth service and Document type (46 → ? errors)
  src/web/src/services/auth.service.ts
  src/web/src/types/document.types.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 2 - Add missing auth service methods (220 → 220)
  src/web/src/services/auth.service.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 4 - Fix NotificationConfig interface (217 → 212)
  src/web/src/contexts/NotificationContext.tsx
  src/web/src/hooks/useNotification.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 3 - Fix DataTable generic constraint and add onRowClick (220 → 217)
  src/web/src/components/common/DataTable.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 1 - Fix import/export mismatches (222 → 220)
  src/web/src/layouts/AdminLayout.tsx
  src/web/src/pages/admin/SystemLogs.tsx
  src/web/src/pages/auth/Login.tsx
  src/web/src/pages/auth/MFAVerification.tsx
  src/web/src/pages/guardian/DependentManagement.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 7 - Fix column definitions to use key/header (207 → 207)
  src/web/src/pages/admin/SystemLogs.tsx
  src/web/src/pages/admin/UserManagement.tsx
  src/web/src/pages/admin/Users.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 5 - Fix Card props and Module.hot (212 → 210)
  src/web/src/components/common/Card.tsx
  src/web/src/index.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 6 - Fix Table component key props (210 → 207)
  src/web/src/components/common/Table.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 8 - Fix module.hot and remove isValidating (205 → 203)
  src/web/src/hooks/useEnrollment.ts
  src/web/src/index.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

docs: Add comprehensive swarm mission status and progress reports
  SWARM_STATUS_SUMMARY.md
Owners: @project-leads

fix(frontend): Batch 9 - Add ApiService static methods and getCached (203 → 199) [VERIFIED]
  src/web/src/services/api.service.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 10 - Fix useEnrollment hook issues (199 → 194) [VERIFIED]
  src/web/src/hooks/useEnrollment.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 11 - Fix Dashboard imports (194 → 192) [VERIFIED]
  src/web/src/pages/admin/Dashboard.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 12 - Fix type compatibility and component props (192 → 187) [VERIFIED]
  src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/common/Header.tsx
  src/web/src/components/health/QuestionnaireProgress.tsx
  src/web/src/components/health/RiskAssessment.tsx
  src/web/src/pages/admin/UserManagement.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 13 - Fix DocumentViewer, Card, and PolicySummary issues (187 → 180) [VERIFIED]
  src/web/src/components/common/Card.tsx
  src/web/src/components/documents/DocumentViewer.tsx
  src/web/src/components/policy/PolicySummary.tsx
  src/web/src/hooks/useDocuments.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 14 - Fix service constructor arguments (180 → 176) [VERIFIED]
  src/web/src/components/enrollment/EnrollmentList.tsx
  src/web/src/hooks/useHealth.ts
  src/web/src/services/policy.service.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 15 - Fix Register.tsx form field types (176 → 174) [VERIFIED]
  src/web/src/pages/auth/Register.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 16 - Add missing hook return properties (174 → 168) [VERIFIED]
  src/web/src/hooks/useEnrollment.ts
  src/web/src/hooks/useHealth.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 17 - Fix AdminLayout and PolicySummary type issues (168 → 165) [VERIFIED]
  src/web/src/components/policy/PolicySummary.tsx
  src/web/src/layouts/AdminLayout.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 18 - Fix Register.tsx autoComplete boolean types [VERIFIED]
  src/web/src/pages/auth/Register.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 19 - Fix Register.tsx and Form component wrappers (165 → 147) [VERIFIED]
  src/web/src/components/common/Form.tsx
  src/web/src/pages/auth/Register.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 20 - Fix route components and lazy loading (147 → 119) [VERIFIED]
  src/web/src/routes/AuthRoutes.tsx
  src/web/src/routes/BeneficiaryRoutes.tsx
  src/web/src/routes/PrivateRoute.tsx
  src/web/src/routes/PublicRoute.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 21 - Fix hr/Reports.tsx (119 → 109) [VERIFIED]
  src/web/src/pages/hr/Reports.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 22 - Fix auth.service.ts (109 → 101) [VERIFIED]
  src/web/src/services/auth.service.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team
