Repository rodaquino-OMNI/onboarding-portal-v3-hrqnmc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @security-team, @backend-team, @compliance-team, @health-domain-experts, @business-analysts, @frontend-team, @accessibility-team, @database-team, @qa-team, @legal-team

fix(frontend): Batch 23 - Fix error/500.tsx styled components (101 → 94) [VERIFIED]
  src/web/src/pages/error/500.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 24 - User type extensions (User properties: name, dateOfBirth, address; SecurityContext timestamp) [VERIFIED]
  src/web/src/types/auth.types.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 25 - DataTable column standardization (key/header typing) [VERIFIED: 94 errors]
  src/web/src/components/payment/PaymentSummary.tsx
  src/web/src/components/policy/PolicyList.tsx
  src/web/src/pages/admin/SystemLogs.tsx
  src/web/src/pages/admin/UserManagement.tsx
  src/web/src/pages/admin/Users.tsx
  src/web/src/pages/hr/EmployeeManagement.tsx
  src/web/src/pages/hr/Employees.tsx
  src/web/src/pages/underwriter/Dashboard.tsx
  src/web/src/pages/underwriter/PolicyManagement.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 26 - Component prop interfaces (LoginForm, FileUpload, DatePicker, DocumentList) (94 → 85) [VERIFIED]
  src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/common/FileUpload.tsx
  src/web/src/components/documents/DocumentList.tsx
  src/web/src/pages/guardian/DependentManagement.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 27 - Context and type fixes (AuthContext timestamp, PaymentSummary, Profile address) (85 → 81) [VERIFIED]
  src/web/src/components/payment/PaymentSummary.tsx
  src/web/src/contexts/AuthContext.tsx
  src/web/src/pages/beneficiary/Profile.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 28 - Missing modules and imports (brazilian-utils, useWebSocket, ApplicationInsights, axios-retry) (81 → 83) [VERIFIED]
  src/web/src/pages/beneficiary/Profile.tsx
  src/web/src/pages/broker/Dashboard.tsx
  src/web/src/services/api.service.ts
  src/web/src/services/health.service.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 29 - User properties and THEME constants (firstName, lastName, isActive, PRIMARY_DARK, BREAKPOINTS) (83 → 79) [VERIFIED]
  src/web/src/constants/app.constants.ts
  src/web/src/pages/admin/UserManagement.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 30-33 - StatusBadge, context methods, routes, filters (79 → 46) [VERIFIED]
  src/web/src/constants/app.constants.ts
  src/web/src/pages/admin/Dashboard.tsx
  src/web/src/pages/admin/Users.tsx
  src/web/src/pages/broker/Dashboard.tsx
  src/web/src/pages/broker/NewEnrollment.tsx
  src/web/src/pages/broker/Reports.tsx
  src/web/src/pages/error/404.tsx
  src/web/src/pages/hr/Dashboard.tsx
  src/web/src/pages/hr/Employees.tsx
  src/web/src/pages/underwriter/RiskAssessment.tsx
  src/web/src/routes/AuthRoutes.tsx
  src/web/src/routes/BeneficiaryRoutes.tsx
  src/web/src/routes/BrokerRoutes.tsx
  src/web/src/routes/HRRoutes.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 34 - Fix HR routes and missing imports (46 → 42)
  src/web/src/routes/HRRoutes.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 35 - Deep service layer fixes (42 → 24) [TECHNICAL EXCELLENCE]
  FINAL_PUSH_STATUS.md
  src/web/src/config/api.config.ts
  src/web/src/constants/api.constants.ts
  src/web/src/services/api.service.ts
  src/web/src/services/auth.service.ts
  src/web/src/services/enrollment.service.ts
  src/web/src/services/health.service.ts
  src/web/src/services/policy.service.ts
  src/web/src/types/api.types.ts
  src/web/tsconfig.tsbuildinfo
Owners: @project-leads, @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 36 - Config files resolution (24 → 20) [TECHNICAL EXCELLENCE]
  src/web/src/config/api.config.ts
  src/web/src/config/i18n.config.ts
  src/web/src/contexts/ThemeContext.tsx
  src/web/src/hooks/useEnrollment.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 37 Part 1 - Component callable and session fixes (20 → 16) [TECHNICAL EXCELLENCE]
  src/web/src/hooks/useEnrollment.ts
  src/web/src/pages/auth/ResetPassword.tsx
  src/web/src/routes/PrivateRoute.tsx
  src/web/src/routes/UnderwriterRoutes.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 38 Part 1 - RiskAssessment and audit fixes (16 → 12) [TECHNICAL EXCELLENCE]
  src/web/src/pages/underwriter/RiskAssessment.tsx
  src/web/src/routes/UnderwriterRoutes.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 38 Part 2 - Type fixes for Documents, Users, Dashboard (12 → 11) [TECHNICAL EXCELLENCE]
  src/web/src/pages/admin/Dashboard.tsx
  src/web/src/pages/admin/Users.tsx
  src/web/src/pages/beneficiary/Documents.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

fix(frontend): Batch 38 FINAL - ZERO TypeScript errors achieved! (42 → 0) [MISSION COMPLETE] 🎯
  src/web/src/components/common/Button.tsx
  src/web/src/components/common/DatePicker.tsx
  src/web/src/components/payment/PaymentSummary.tsx
  src/web/src/pages/admin/Dashboard.tsx
  src/web/src/pages/admin/SystemLogs.tsx
  src/web/src/pages/admin/UserManagement.tsx
  src/web/src/pages/beneficiary/Documents.tsx
  src/web/src/pages/hr/EmployeeManagement.tsx
  src/web/src/pages/underwriter/Policies.tsx
  src/web/src/pages/underwriter/PolicyManagement.tsx
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

test(frontend): Expand test coverage and fix failing tests
  src/backend/auth-service/jest.config.js
  src/backend/auth-service/src/__tests__/integration/auth.endpoints.test.ts
  src/backend/auth-service/src/__tests__/middleware/jwt.middleware.test.ts
  src/backend/auth-service/src/__tests__/services/auth.service.test.ts
  src/backend/auth-service/src/__tests__/services/mfa.service.test.ts
  src/backend/auth-service/src/__tests__/utils/encryption.test.ts
  src/backend/auth-service/src/__tests__/validators/auth.validator.test.ts
  src/backend/auth-service/test/integration/auth.test.ts
  src/backend/auth-service/test/unit/auth.test.ts
  src/web/src/components/auth/__tests__/LoginForm.test.tsx
  src/web/src/components/common/Form.tsx
  src/web/src/components/common/Input.tsx
  src/web/src/components/common/__tests__/Form.test.tsx
  src/web/src/utils/__tests__/date.utils.test.ts
  src/web/src/utils/__tests__/validation.utils.test.ts
Owners: @security-team, @backend-team, @compliance-team, @qa-team, @frontend-team, @accessibility-team

test: Implement comprehensive backend tests with 60%+ coverage
  src/backend/api-gateway/jest.config.cjs
  src/backend/api-gateway/src/__tests__/integration/middleware.integration.test.ts
  src/backend/api-gateway/src/__tests__/middleware/cors.test.ts
  src/backend/api-gateway/src/__tests__/middleware/security.test.ts
  src/backend/api-gateway/test/integration/gateway.test.ts
  src/backend/auth-service/jest.config.js
  src/backend/auth-service/src/__tests__/validators/auth.validator.test.ts
  src/web/src/utils/__tests__/type-guards.utils.test.ts
Owners: @project-leads, @qa-team, @security-team, @backend-team, @compliance-team

test(backend): Fix all 33 backend test failures - 100% test suites passing
  src/backend/auth-service/jest.config.js
  src/backend/auth-service/src/__tests__/controllers/auth.controller.test.ts
  src/backend/auth-service/src/__tests__/integration/auth.endpoints.test.ts
  src/backend/auth-service/src/__tests__/jest.setup.ts
  src/backend/auth-service/src/__tests__/middleware/jwt.middleware.test.ts
  src/backend/auth-service/src/__tests__/services/auth.service.test.ts
  src/backend/auth-service/src/__tests__/services/mfa.service.test.ts
  src/backend/auth-service/src/__tests__/utils/encryption.test.ts
  src/backend/auth-service/src/services/mfa.service.ts
  src/backend/auth-service/src/utils/encryption.ts
Owners: @security-team, @backend-team, @compliance-team, @qa-team

test(frontend): Fix ALL 29 failing tests - MISSION COMPLETE ✅ (29 → 0 failures)
  src/web/src/components/auth/__tests__/LoginForm.test.tsx
  src/web/src/components/common/Card.tsx
  src/web/src/hooks/__tests__/useAuth.test.ts
  src/web/src/utils/__tests__/date.utils.test.ts
  src/web/src/utils/__tests__/type-guards.utils.test.ts
  src/web/src/utils/date.utils.ts
  src/web/src/utils/validation.utils.ts
Owners: @qa-team, @security-team, @frontend-team, @accessibility-team

test(frontend): Phase 1 - Service layer tests (coverage: 6.78% → 12.16%, services: 73.36%)
  src/web/src/services/__tests__/api.service.test.ts
  src/web/src/services/__tests__/auth.service.test.ts
  src/web/src/services/__tests__/document.service.simple.test.ts
  src/web/src/services/__tests__/enrollment.service.test.ts
  src/web/src/services/__tests__/health.service.test.ts
  src/web/src/services/__tests__/policy.service.test.ts
Owners: @qa-team, @security-team

test(frontend): Phase 2 - Utils tests (coverage: 12.16% → 14.47%, utils: 39% → 70%)
  src/web/src/utils/__tests__/auth.utils.test.ts
  src/web/src/utils/__tests__/error-handler.utils.test.ts
  src/web/src/utils/__tests__/storage.utils.test.ts
Owners: @qa-team, @security-team

test(frontend): Phase 3 - Hook and form utils tests (coverage: 14.47% → 14.66%)
  src/web/src/hooks/__tests__/useNotification.test.ts
  src/web/src/utils/__tests__/form.utils.test.ts
Owners: @qa-team, @security-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request.
*       @project-leads

# GitHub configurations and workflows
.github/**      @devops-team @security-team

# Authentication service - requires security, backend, and compliance review
src/backend/auth-service/**       @security-team @backend-team @compliance-team

# Health assessment service - requires domain expert, backend, and compliance review
src/backend/health-service/**     @backend-team @health-domain-experts @compliance-team

# Document handling service - requires security, backend, and compliance review
src/backend/document-service/**   @backend-team @security-team @compliance-team

# Enrollment service - requires business logic, backend, and compliance review
src/backend/enrollment-service/** @backend-team @business-analysts @compliance-team

# Policy service - requires business logic, backend, and compliance review
src/backend/policy-service/**     @backend-team @business-analysts @compliance-team

# Frontend applications - requires accessibility, security, and frontend review
src/web/**      @frontend-team @accessibility-team @security-team

# Infrastructure configurations
infrastructure/**       @devops-team @security-team @compliance-team

# Database migrations and schemas
src/backend/db/migrations/**      @database-team @security-team @compliance-team

# Security-related files
**/security*       @security-team @compliance-team

# Container configurations
**/Dockerfile      @devops-team @security-team

# Test files
**/*.test.*        @qa-team @security-team

# LGPD (Brazilian Data Protection Law) related files
**/lgpd*          @compliance-team @security-team @legal-team
