Repository rodaquino-OMNI/onboarding-portal-v3-hrqnmc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @security-team, @backend-team, @compliance-team, @health-domain-experts, @business-analysts, @frontend-team, @accessibility-team, @database-team, @qa-team, @legal-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request.
*       @project-leads

# GitHub configurations and workflows
.github/**      @devops-team @security-team

# Authentication service - requires security, backend, and compliance review
src/backend/auth-service/**       @security-team @backend-team @compliance-team

# Health assessment service - requires domain expert, backend, and compliance review
src/backend/health-service/**     @backend-team @health-domain-experts @compliance-team

# Document handling service - requires security, backend, and compliance review
src/backend/document-service/**   @backend-team @security-team @compliance-team

# Enrollment service - requires business logic, backend, and compliance review
src/backend/enrollment-service/** @backend-team @business-analysts @compliance-team

# Policy service - requires business logic, backend, and compliance review
src/backend/policy-service/**     @backend-team @business-analysts @compliance-team

# Frontend applications - requires accessibility, security, and frontend review
src/web/**      @frontend-team @accessibility-team @security-team

# Infrastructure configurations
infrastructure/**       @devops-team @security-team @compliance-team

# Database migrations and schemas
src/backend/db/migrations/**      @database-team @security-team @compliance-team

# Security-related files
**/security*       @security-team @compliance-team

# Container configurations
**/Dockerfile      @devops-team @security-team

# Test files
**/*.test.*        @qa-team @security-team

# LGPD (Brazilian Data Protection Law) related files
**/lgpd*          @compliance-team @security-team @legal-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/enrollment-service/Dockerfile
  src/backend/enrollment-service/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/enrollment-service/pom.xml
  src/backend/enrollment-service/pom.xml
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/enrollment-service/src/main/java/com/austa/enrollment/EnrollmentApplication.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/EnrollmentApplication.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/enrollment-service/src/main/java/com/austa/enrollment/config/EnrollmentConfig.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/config/EnrollmentConfig.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/enrollment-service/src/main/java/com/austa/enrollment/controllers/EnrollmentController.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/controllers/EnrollmentController.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/enrollment-service/src/main/java/com/austa/enrollment/models/Enrollment.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/models/Enrollment.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/enrollment-service/src/main/java/com/austa/enrollment/repositories/EnrollmentRepository.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/repositories/EnrollmentRepository.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/enrollment-service/src/main/java/com/austa/enrollment/services/EnrollmentService.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/services/EnrollmentService.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/enrollment-service/src/main/resources/application.yml
  src/backend/enrollment-service/src/main/resources/application.yml
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/enrollment-service/src/test/java/com/austa/enrollment/EnrollmentServiceTest.java
  src/backend/enrollment-service/src/test/java/com/austa/enrollment/EnrollmentServiceTest.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/Dockerfile
  src/backend/health-service/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/pyproject.toml
  src/backend/health-service/pyproject.toml
Owners: @backend-team, @health-domain-experts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/requirements.txt
  src/backend/health-service/requirements.txt
Owners: @backend-team, @health-domain-experts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/src/main.py
  src/backend/health-service/src/main.py
Owners: @backend-team, @health-domain-experts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/src/api/health_assessment.py
  src/backend/health-service/src/api/health_assessment.py
Owners: @backend-team, @health-domain-experts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/src/config/settings.py
  src/backend/health-service/src/config/settings.py
Owners: @backend-team, @health-domain-experts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/src/models/questionnaire.py
  src/backend/health-service/src/models/questionnaire.py
Owners: @backend-team, @health-domain-experts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/src/services/llm_service.py
  src/backend/health-service/src/services/llm_service.py
Owners: @backend-team, @health-domain-experts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/src/services/risk_assessment.py
  src/backend/health-service/src/services/risk_assessment.py
Owners: @backend-team, @health-domain-experts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/src/utils/validators.py
  src/backend/health-service/src/utils/validators.py
Owners: @backend-team, @health-domain-experts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/tests/test_health_assessment.py
  src/backend/health-service/tests/test_health_assessment.py
Owners: @backend-team, @health-domain-experts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/health-service/tests/test_risk_assessment.py
  src/backend/health-service/tests/test_risk_assessment.py
Owners: @backend-team, @health-domain-experts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/k8s/api-gateway.yaml
  src/backend/k8s/api-gateway.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/k8s/auth-service.yaml
  src/backend/k8s/auth-service.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/k8s/document-service.yaml
  src/backend/k8s/document-service.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/k8s/enrollment-service.yaml
  src/backend/k8s/enrollment-service.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/k8s/health-service.yaml
  src/backend/k8s/health-service.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/k8s/istio-config.yaml
  src/backend/k8s/istio-config.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/k8s/minio.yaml
  src/backend/k8s/minio.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/k8s/policy-service.yaml
  src/backend/k8s/policy-service.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/k8s/postgres.yaml
  src/backend/k8s/postgres.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/k8s/redis.yaml
  src/backend/k8s/redis.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/openapi/auth-service.yaml
  src/backend/openapi/auth-service.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/openapi/document-service.yaml
  src/backend/openapi/document-service.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/openapi/enrollment-service.yaml
  src/backend/openapi/enrollment-service.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/openapi/health-service.yaml
  src/backend/openapi/health-service.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/openapi/policy-service.yaml
  src/backend/openapi/policy-service.yaml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/policy-service/Dockerfile
  src/backend/policy-service/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/policy-service/pom.xml
  src/backend/policy-service/pom.xml
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/policy-service/src/main/java/com/austa/policy/PolicyApplication.java
  src/backend/policy-service/src/main/java/com/austa/policy/PolicyApplication.java
Owners: @backend-team, @business-analysts, @compliance-team
