Repository rodaquino-OMNI/onboarding-portal-v3-hrqnmc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @security-team, @backend-team, @compliance-team, @health-domain-experts, @business-analysts, @frontend-team, @accessibility-team, @database-team, @qa-team, @legal-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request.
*       @project-leads

# GitHub configurations and workflows
.github/**      @devops-team @security-team

# Authentication service - requires security, backend, and compliance review
src/backend/auth-service/**       @security-team @backend-team @compliance-team

# Health assessment service - requires domain expert, backend, and compliance review
src/backend/health-service/**     @backend-team @health-domain-experts @compliance-team

# Document handling service - requires security, backend, and compliance review
src/backend/document-service/**   @backend-team @security-team @compliance-team

# Enrollment service - requires business logic, backend, and compliance review
src/backend/enrollment-service/** @backend-team @business-analysts @compliance-team

# Policy service - requires business logic, backend, and compliance review
src/backend/policy-service/**     @backend-team @business-analysts @compliance-team

# Frontend applications - requires accessibility, security, and frontend review
src/web/**      @frontend-team @accessibility-team @security-team

# Infrastructure configurations
infrastructure/**       @devops-team @security-team @compliance-team

# Database migrations and schemas
src/backend/db/migrations/**      @database-team @security-team @compliance-team

# Security-related files
**/security*       @security-team @compliance-team

# Container configurations
**/Dockerfile      @devops-team @security-team

# Test files
**/*.test.*        @qa-team @security-team

# LGPD (Brazilian Data Protection Law) related files
**/lgpd*          @compliance-team @security-team @legal-team

Add public-samples/onboarding-portal-v3-hrqnmc/.github/dependabot.yml
  .github/dependabot.yml
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/api-gateway/Chart.yaml
  infrastructure/helm/api-gateway/Chart.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/api-gateway/values.yaml
  infrastructure/helm/api-gateway/values.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/api-gateway/templates/deployment.yaml
  infrastructure/helm/api-gateway/templates/deployment.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/api-gateway/templates/service.yaml
  infrastructure/helm/api-gateway/templates/service.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/auth-service/Chart.yaml
  infrastructure/helm/auth-service/Chart.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/auth-service/values.yaml
  infrastructure/helm/auth-service/values.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/auth-service/templates/deployment.yaml
  infrastructure/helm/auth-service/templates/deployment.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/auth-service/templates/service.yaml
  infrastructure/helm/auth-service/templates/service.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/document-service/Chart.yaml
  infrastructure/helm/document-service/Chart.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/document-service/values.yaml
  infrastructure/helm/document-service/values.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/document-service/templates/deployment.yaml
  infrastructure/helm/document-service/templates/deployment.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/document-service/templates/service.yaml
  infrastructure/helm/document-service/templates/service.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/enrollment-service/Chart.yaml
  infrastructure/helm/enrollment-service/Chart.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/enrollment-service/values.yaml
  infrastructure/helm/enrollment-service/values.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/enrollment-service/templates/deployment.yaml
  infrastructure/helm/enrollment-service/templates/deployment.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/enrollment-service/templates/service.yaml
  infrastructure/helm/enrollment-service/templates/service.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/health-service/Chart.yaml
  infrastructure/helm/health-service/Chart.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/health-service/values.yaml
  infrastructure/helm/health-service/values.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/health-service/templates/deployment.yaml
  infrastructure/helm/health-service/templates/deployment.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/health-service/templates/service.yaml
  infrastructure/helm/health-service/templates/service.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/policy-service/Chart.yaml
  infrastructure/helm/policy-service/Chart.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/policy-service/values.yaml
  infrastructure/helm/policy-service/values.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/policy-service/templates/deployment.yaml
  infrastructure/helm/policy-service/templates/deployment.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/policy-service/templates/service.yaml
  infrastructure/helm/policy-service/templates/service.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/web/Chart.yaml
  infrastructure/helm/web/Chart.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/web/values.yaml
  infrastructure/helm/web/values.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/web/templates/deployment.yaml
  infrastructure/helm/web/templates/deployment.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/helm/web/templates/service.yaml
  infrastructure/helm/web/templates/service.yaml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/monitoring/elk/elasticsearch.yml
  infrastructure/monitoring/elk/elasticsearch.yml
Owners: @devops-team, @security-team, @compliance-team
