Repository rodaquino-OMNI/onboarding-portal-v3-hrqnmc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @security-team, @backend-team, @compliance-team, @health-domain-experts, @business-analysts, @frontend-team, @accessibility-team, @database-team, @qa-team, @legal-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request.
*       @project-leads

# GitHub configurations and workflows
.github/**      @devops-team @security-team

# Authentication service - requires security, backend, and compliance review
src/backend/auth-service/**       @security-team @backend-team @compliance-team

# Health assessment service - requires domain expert, backend, and compliance review
src/backend/health-service/**     @backend-team @health-domain-experts @compliance-team

# Document handling service - requires security, backend, and compliance review
src/backend/document-service/**   @backend-team @security-team @compliance-team

# Enrollment service - requires business logic, backend, and compliance review
src/backend/enrollment-service/** @backend-team @business-analysts @compliance-team

# Policy service - requires business logic, backend, and compliance review
src/backend/policy-service/**     @backend-team @business-analysts @compliance-team

# Frontend applications - requires accessibility, security, and frontend review
src/web/**      @frontend-team @accessibility-team @security-team

# Infrastructure configurations
infrastructure/**       @devops-team @security-team @compliance-team

# Database migrations and schemas
src/backend/db/migrations/**      @database-team @security-team @compliance-team

# Security-related files
**/security*       @security-team @compliance-team

# Container configurations
**/Dockerfile      @devops-team @security-team

# Test files
**/*.test.*        @qa-team @security-team

# LGPD (Brazilian Data Protection Law) related files
**/lgpd*          @compliance-team @security-team @legal-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/policy-service/src/main/java/com/austa/policy/config/PolicyConfig.java
  src/backend/policy-service/src/main/java/com/austa/policy/config/PolicyConfig.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/policy-service/src/main/java/com/austa/policy/controllers/PolicyController.java
  src/backend/policy-service/src/main/java/com/austa/policy/controllers/PolicyController.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/policy-service/src/main/java/com/austa/policy/models/Policy.java
  src/backend/policy-service/src/main/java/com/austa/policy/models/Policy.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/policy-service/src/main/java/com/austa/policy/repositories/PolicyRepository.java
  src/backend/policy-service/src/main/java/com/austa/policy/repositories/PolicyRepository.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/policy-service/src/main/java/com/austa/policy/services/PolicyService.java
  src/backend/policy-service/src/main/java/com/austa/policy/services/PolicyService.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/policy-service/src/main/resources/application.yml
  src/backend/policy-service/src/main/resources/application.yml
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/policy-service/src/test/java/com/austa/policy/PolicyServiceTest.java
  src/backend/policy-service/src/test/java/com/austa/policy/PolicyServiceTest.java
Owners: @backend-team, @business-analysts, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/.eslintignore
  src/web/.eslintignore
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/Dockerfile
  src/web/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/tsconfig.node.json
  src/web/tsconfig.node.json
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/public/locales/en/common.json
  src/web/public/locales/en/common.json
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/public/locales/pt-BR/common.json
  src/web/public/locales/pt-BR/common.json
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/App.test.tsx
  src/web/src/App.test.tsx
Owners: @qa-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/vite.config.ts
  src/web/src/vite.config.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/api/auth.api.ts
  src/web/src/api/auth.api.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/api/document.api.ts
  src/web/src/api/document.api.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/api/enrollment.api.ts
  src/web/src/api/enrollment.api.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/api/health.api.ts
  src/web/src/api/health.api.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/api/policy.api.ts
  src/web/src/api/policy.api.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/components/auth/MFAVerification.tsx
  src/web/src/components/auth/MFAVerification.tsx
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/components/auth/PasswordReset.tsx
  src/web/src/components/auth/PasswordReset.tsx
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/components/common/Breadcrumb.tsx
  src/web/src/components/common/Breadcrumb.tsx
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team, @accessibility-team, @security-team
