Repository rodaquino-OMNI/onboarding-portal-v3-hrqnmc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @security-team, @backend-team, @compliance-team, @health-domain-experts, @business-analysts, @frontend-team, @accessibility-team, @database-team, @qa-team, @legal-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/monitoring/elk/kibana.yml
  infrastructure/monitoring/elk/kibana.yml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/monitoring/elk/logstash.yml
  infrastructure/monitoring/elk/logstash.yml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/monitoring/grafana/dashboards/api-gateway.json
  infrastructure/monitoring/grafana/dashboards/api-gateway.json
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/monitoring/grafana/dashboards/services.json
  infrastructure/monitoring/grafana/dashboards/services.json
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/monitoring/grafana/dashboards/system.json
  infrastructure/monitoring/grafana/dashboards/system.json
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/monitoring/jaeger/jaeger.yml
  infrastructure/monitoring/jaeger/jaeger.yml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/security/network-policies.yml
  infrastructure/security/network-policies.yml
Owners: @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/security/pod-security-policies.yml
  infrastructure/security/pod-security-policies.yml
Owners: @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/security/rbac.yml
  infrastructure/security/rbac.yml
Owners: @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/security/secrets-encryption.yml
  infrastructure/security/secrets-encryption.yml
Owners: @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/aks/main.tf
  infrastructure/terraform/modules/aks/main.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/aks/outputs.tf
  infrastructure/terraform/modules/aks/outputs.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/aks/variables.tf
  infrastructure/terraform/modules/aks/variables.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @devops-team, @security-team, @compliance-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/.env.example
  src/backend/.env.example
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/README.md
  src/backend/README.md
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/docker-compose.dev.yml
  src/backend/docker-compose.dev.yml
Owners: @project-leads

Add public-samples/onboarding-portal-v3-hrqnmc/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @project-leads

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request.
*       @project-leads

# GitHub configurations and workflows
.github/**      @devops-team @security-team

# Authentication service - requires security, backend, and compliance review
src/backend/auth-service/**       @security-team @backend-team @compliance-team

# Health assessment service - requires domain expert, backend, and compliance review
src/backend/health-service/**     @backend-team @health-domain-experts @compliance-team

# Document handling service - requires security, backend, and compliance review
src/backend/document-service/**   @backend-team @security-team @compliance-team

# Enrollment service - requires business logic, backend, and compliance review
src/backend/enrollment-service/** @backend-team @business-analysts @compliance-team

# Policy service - requires business logic, backend, and compliance review
src/backend/policy-service/**     @backend-team @business-analysts @compliance-team

# Frontend applications - requires accessibility, security, and frontend review
src/web/**      @frontend-team @accessibility-team @security-team

# Infrastructure configurations
infrastructure/**       @devops-team @security-team @compliance-team

# Database migrations and schemas
src/backend/db/migrations/**      @database-team @security-team @compliance-team

# Security-related files
**/security*       @security-team @compliance-team

# Container configurations
**/Dockerfile      @devops-team @security-team

# Test files
**/*.test.*        @qa-team @security-team

# LGPD (Brazilian Data Protection Law) related files
**/lgpd*          @compliance-team @security-team @legal-team
