Repository rodaquino-OMNI/onboarding-portal-v3-hrqnmc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @security-team, @backend-team, @compliance-team, @health-domain-experts, @business-analysts, @frontend-team, @accessibility-team, @database-team, @qa-team, @legal-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request.
*       @project-leads

# GitHub configurations and workflows
.github/**      @devops-team @security-team

# Authentication service - requires security, backend, and compliance review
src/backend/auth-service/**       @security-team @backend-team @compliance-team

# Health assessment service - requires domain expert, backend, and compliance review
src/backend/health-service/**     @backend-team @health-domain-experts @compliance-team

# Document handling service - requires security, backend, and compliance review
src/backend/document-service/**   @backend-team @security-team @compliance-team

# Enrollment service - requires business logic, backend, and compliance review
src/backend/enrollment-service/** @backend-team @business-analysts @compliance-team

# Policy service - requires business logic, backend, and compliance review
src/backend/policy-service/**     @backend-team @business-analysts @compliance-team

# Frontend applications - requires accessibility, security, and frontend review
src/web/**      @frontend-team @accessibility-team @security-team

# Infrastructure configurations
infrastructure/**       @devops-team @security-team @compliance-team

# Database migrations and schemas
src/backend/db/migrations/**      @database-team @security-team @compliance-team

# Security-related files
**/security*       @security-team @compliance-team

# Container configurations
**/Dockerfile      @devops-team @security-team

# Test files
**/*.test.*        @qa-team @security-team

# LGPD (Brazilian Data Protection Law) related files
**/lgpd*          @compliance-team @security-team @legal-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/routes/PublicRoute.tsx
  src/web/src/routes/PublicRoute.tsx
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/routes/UnderwriterRoutes.tsx
  src/web/src/routes/UnderwriterRoutes.tsx
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/routes/index.tsx
  src/web/src/routes/index.tsx
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/services/api.service.ts
  src/web/src/services/api.service.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/services/auth.service.ts
  src/web/src/services/auth.service.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/services/document.service.ts
  src/web/src/services/document.service.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/services/enrollment.service.ts
  src/web/src/services/enrollment.service.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/services/health.service.ts
  src/web/src/services/health.service.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/services/policy.service.ts
  src/web/src/services/policy.service.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/styles/global.css
  src/web/src/styles/global.css
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/styles/theme.css
  src/web/src/styles/theme.css
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/styles/variables.css
  src/web/src/styles/variables.css
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/types/api.types.ts
  src/web/src/types/api.types.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/types/auth.types.ts
  src/web/src/types/auth.types.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/types/document.types.ts
  src/web/src/types/document.types.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/types/enrollment.types.ts
  src/web/src/types/enrollment.types.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/types/health.types.ts
  src/web/src/types/health.types.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/types/policy.types.ts
  src/web/src/types/policy.types.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/utils/api.utils.ts
  src/web/src/utils/api.utils.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/utils/auth.utils.ts
  src/web/src/utils/auth.utils.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/utils/date.utils.ts
  src/web/src/utils/date.utils.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/utils/form.utils.ts
  src/web/src/utils/form.utils.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/utils/storage.utils.ts
  src/web/src/utils/storage.utils.ts
Owners: @frontend-team, @accessibility-team, @security-team

Add public-samples/onboarding-portal-v3-hrqnmc/src/web/src/utils/validation.utils.ts
  src/web/src/utils/validation.utils.ts
Owners: @frontend-team, @accessibility-team, @security-team

Delete documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Delete documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add comprehensive forensics analysis report
  FORENSICS_ANALYSIS_REPORT.md
Owners: @project-leads

Add complete database migration scripts for all core tables
  src/backend/db/migrations/V001__create_users_table.sql
  src/backend/db/migrations/V002__create_enrollments_table.sql
  src/backend/db/migrations/V003__create_health_questionnaires_table.sql
  src/backend/db/migrations/V004__create_documents_table.sql
  src/backend/db/migrations/V005__create_policies_table.sql
  src/backend/db/migrations/V006__create_payments_table.sql
  src/backend/db/migrations/V007__create_audit_logs_table.sql
  src/backend/db/migrations/V008__create_sessions_table.sql
  src/backend/db/migrations/V009__create_indexes.sql
  src/backend/db/migrations/V010__insert_seed_data.sql
Owners: @database-team, @security-team, @compliance-team

Fix configuration issues across all services
  src/backend/docker-compose.yml
  src/backend/document-service/.env.example
  src/backend/document-service/cmd/server/main.go
  src/backend/document-service/go.mod
  src/backend/document-service/go.sum
  src/backend/document-service/internal/handlers/document.go
  src/backend/document-service/internal/services/ocr.go
  src/backend/document-service/internal/services/storage.go
  src/backend/document-service/internal/utils/encryption.go
  src/backend/document-service/test/document_test.go
  src/backend/health-service/.env.example
  src/backend/health-service/src/config/settings.py
  src/backend/health-service/src/main.py
  src/backend/policy-service/.env.example
Owners: @project-leads, @backend-team, @security-team, @compliance-team, @health-domain-experts, @business-analysts

Complete Policy Service - Add validators, implement calculations, fix bugs
  src/backend/policy-service/src/main/java/com/austa/policy/config/CustomResponseErrorHandler.java
  src/backend/policy-service/src/main/java/com/austa/policy/controllers/PolicyController.java
  src/backend/policy-service/src/main/java/com/austa/policy/models/CoverageSchemaValidator.java
  src/backend/policy-service/src/main/java/com/austa/policy/models/PolicyStatusValidator.java
  src/backend/policy-service/src/main/java/com/austa/policy/repositories/PolicyRepository.java
  src/backend/policy-service/src/main/java/com/austa/policy/services/PolicyService.java
Owners: @backend-team, @business-analysts, @compliance-team

Complete Enrollment Service - Add 13 missing classes and implement all stub methods
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/dto/DocumentResponse.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/dto/DocumentUploadDTO.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/dto/EnrollmentDTO.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/dto/EnrollmentResponse.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/dto/ErrorResponse.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/dto/HealthAssessmentDTO.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/dto/StatusUpdateDTO.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/exceptions/EnrollmentException.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/models/EnrollmentDocument.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/models/HealthAssessment.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/services/EnrollmentService.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/utils/AuditLogger.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/utils/DataMaskingUtil.java
  src/backend/enrollment-service/src/main/java/com/austa/enrollment/utils/MetricsCollector.java
Owners: @backend-team, @business-analysts, @compliance-team

Add 12 missing page components for complete routing coverage
  src/web/src/pages/admin/SystemLogs.tsx
  src/web/src/pages/admin/UserManagement.tsx
  src/web/src/pages/auth/MFAVerification.tsx
  src/web/src/pages/beneficiary/HealthAssessment.tsx
  src/web/src/pages/error/NotFound.tsx
  src/web/src/pages/error/ServerError.tsx
  src/web/src/pages/error/Unauthorized.tsx
  src/web/src/pages/guardian/Dashboard.tsx
  src/web/src/pages/guardian/DependentManagement.tsx
  src/web/src/pages/hr/BulkEnrollment.tsx
  src/web/src/pages/hr/EmployeeManagement.tsx
  src/web/src/pages/underwriter/PolicyManagement.tsx
Owners: @frontend-team, @accessibility-team, @security-team

Add comprehensive implementation summary and forensics verification report
  IMPLEMENTATION_SUMMARY.md
Owners: @project-leads

Add comprehensive database setup and initialization guide
  DATABASE_SETUP_GUIDE.md
Owners: @project-leads

Add final deployment readiness assessment report
  DEPLOYMENT_READINESS_REPORT.md
Owners: @project-leads

Fix frontend build - install dependencies and resolve TypeScript errors
  BACKEND_COMPILATION_REPORT.md
  src/web/package-lock.json
  src/web/package.json
  src/web/src/api/auth.api.ts
  src/web/src/api/document.api.ts
  src/web/src/api/enrollment.api.ts
  src/web/src/api/health.api.ts
  src/web/src/api/policy.api.ts
  src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/MFAVerification.tsx
  src/web/src/components/common/DataTable.tsx
  src/web/src/components/common/ErrorBoundary.tsx
  src/web/src/components/common/FileUpload.tsx
  src/web/src/components/common/Navigation.tsx
  src/web/src/components/common/Notification.tsx
  src/web/src/components/common/Tabs.tsx
  src/web/src/components/documents/DocumentList.tsx
  src/web/src/components/documents/DocumentUpload.tsx
  src/web/src/components/enrollment/EnrollmentSummary.tsx
  src/web/src/contexts/AuthContext.tsx
  src/web/src/index.tsx
  src/web/src/types/api.types.ts
  src/web/src/utils/api.utils.ts
  src/web/src/utils/form.utils.ts
  src/web/src/utils/validation.utils.ts
  src/web/tsconfig.json
  src/web/tsconfig.tsbuildinfo
Owners: @project-leads, @frontend-team, @accessibility-team, @security-team

Fix critical deployment blockers
  src/backend/db/migrations/V1__initial_schema.sql
  src/backend/db/migrations/V2__auth_tables.sql
  src/backend/db/migrations/V3__enrollment_tables.sql
  src/backend/db/migrations/V4__policy_tables.sql
  src/web/package-lock.json
Owners: @database-team, @security-team, @compliance-team, @frontend-team, @accessibility-team

WIP: Expand theme type definitions (partial fix)
  src/web/src/config/theme.config.ts
  src/web/src/theme.d.ts
  src/web/tsconfig.tsbuildinfo
Owners: @frontend-team, @accessibility-team, @security-team

Sprint 2: Critical TypeScript fixes & comprehensive audit
  src/backend/auth-service/tsconfig.tsbuildinfo
  src/backend/document-service/go.mod
  src/backend/document-service/go.sum
  src/web/__mocks__/fileMock.js
  src/web/jest.config.ts
  src/web/package-lock.json
  src/web/package.json
  src/web/src/App.test.tsx
  src/web/src/components/common/Card.tsx
  src/web/src/components/common/Form.tsx
  src/web/src/components/health/RiskAssessment.tsx
  src/web/src/config/api.config.ts
  src/web/src/contexts/AuthContext.tsx
  src/web/src/css-modules.d.ts
  src/web/src/routes/PrivateRoute.tsx
  src/web/src/services/enrollment.service.ts
  src/web/src/setupTests.ts
  src/web/src/utils/auth.utils.ts
  src/web/src/utils/storage.utils.ts
  src/web/tsconfig.tsbuildinfo
Owners: @security-team, @backend-team, @compliance-team, @frontend-team, @accessibility-team, @qa-team

Add comprehensive sprint completion report with agent verification
  SPRINT_COMPLETION_REPORT.md
Owners: @project-leads
